.list-project {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  .project {
    flex-basis: 98%;
    padding-left: 8px;
    padding-right: 8px;
    height: 100px;
    background-color: tomato;
    margin: 1%;
  }
}
.filters {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 10px;
      background: black;
      color: white;
      cursor: pointer;
      margin-left: 10px;
      font-size: 120%;
    }
  }
}

@media (min-width: 768px) {
  .list-project {
    .project {
      flex-basis: 48%;
    }
  }
}

@media (min-width: 1120px) {
  .list-project {
    .project {
      flex-basis: 31%;
    }
  }
}
